.box {
    height: 100px;
    margin-bottom: 20px;
}

.box span {
    display: block;
    height: 60px;
    padding: 10px 0;
}

.box .str-delite {
    border: none;
    font-weight: bold;
    color: red;
    margin-left: 10px;
    background: none;
    outline: none;
}

.show {
    display: block;
}

.showed {
    font-weight: bold;
    text-decoration: underline;
}